h1 {
    font-size: 25px;
    text-align:start;
    color: black;
    text-decoration: underline;
}
.btn {
    border: 2px solid black;
}
a {
    text-decoration: none;
    color: black;
}
body{
    background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
}
li {
    display: flex;
    align-content: center;
}
img {
	width:  300px;
	height:  300px;
	margin:  10px;
	transition: .5s;
	align-items: center;
    border:10px solid black;
}
.tall {
    height:  400px;
}

img:hover {
	transform: scale(1.2);
	}
p{
    color:white;
    background: rgb(0, 0, 0, 0.75);
    font-size: 25px;
    width: 70%;
    position:relative;
    left: 15%;
    right: 15%;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Mochiy Pop P One', sans-serif;
    transition: .5s;
}
p:hover {
    transform: scale(1.2);
}
.img-gallery {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    align-items: center;
    grid-gap:10px;
}
h2 {
    background: black;
    color: white;
    text-align: center;
}
.bg-dark {
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}
.btn-success {
    background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
}

hr {
    width: 85%;
    margin: 30px auto 30px auto;
    border:none;
}
